<% content_for :title, 'My-Exp | Categories' %>
<div class="grand-total">
        <p class="amount-label">Total Amount</p>
        <p class="amount"><%= "$#{@total}" %></p>
</div>
    <div class="container card-wrap">
    <% if @categories.present? %>
    
    <% @categories.each do |category| %>   
       
          <%= link_to  category_expenses_path(category), class: "card-link" do %>
            <div class="card"> 
              <div class="card-img-wrapper">
                <img src="<%= category.icon %>", alt="catagory image" class="card-img" />
              </div>
          
              <div class="text-container">
                <div class="flex-row">
                  <h4 class="text-lg">
                    <%= category.name %>
                  </h4>
                  <div class="amount">
                    <%= "$#{category.total_amount}" %>
                  </div>
                </div>
                <p class="text-xs"><%= category.created_at.strftime("%d %b %Y") %></p>
              </div>
              
            </div>
          <% end %>
          <% end %>
    <% else %>
        <div class="actions">
            You don't have any category yet! Create one.
        </div>
    <% end %>

    <div class = "btn-wrapper">
      <%= link_to new_category_path, class: 'btn-add' do %>
        <span class = "btn-spacer"> Add category </span>
        <%= image_tag('add.png', class:"back-arrow") %>
        <% end %>
    </div>
</div>